{% extends 'base.html' %}
{% load survey_extras %}
{% load i18n widget_tweaks %}
{% block body %}


<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Welcome, {{ user.username|title }}</h3>
        <div class="text-muted small alert alert-warning">
            <i>{{ survey.description|safe }}</i></div>

        {% if success %}
            <div class="alert alert-danger">
                {{ success|safe }} <a href="/dashboard/"><span class="pull-right fa fa-times"></span></a>
            </div>
        {% endif %}
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<span class="row">
        <div class="col-lg-8">
{#            http://stackoverflow.com/questions/20727029/django-dropzone-js-form-validation-fails-for-multiple-files   #}
            <form class="form" action="{{ request.path }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Tell us about your idea
                    </div>

                    <!-- /.panel-heading -->
                    <div class="panel-body">

                        <div class="list-group">

                                        <div class="list-group-item">

                                            <i class="fa fa-lightbulb-o fa-fw"></i>{{ response_form.title.label }}
                                            <span class="pull-right text-muted small"><em>{{ response_form.title.errors }}</em></span>

                                            <div class="form-field-body">
                                                <!-- append to an attribute -->
                                                {% render_field response_form.title class+="form-control" placeholder="e.g.: The Claim-o-Matic" %}

{#                                                <!-- template variables can be used as attribute values -->#}
{#                                                {% render_field form.text placeholder=form.text.label %}#}
{#                                                {{ response_form.title|attr:'class:form-control' }}#}
                                            </div>

                                        </div>



                            {% for category in categories %}
                                {% for field in response_form %}
                                    {% if field.field.widget.attrs.category == category %}
                                        <div class="list-group-item" value="{% counter %}">

                                            <i class="fa fa-comment fa-fw"></i>{{ field.label }}

{#                                            {% with field.question_choices|split:"\n\r\nExample:" as screens %}#}
{#                                            {{ screens.1 }}#}

                                            <div class="text-muted small"><em>{{ field.help_text|safe }}</em></div>

                                            <div class="form-field-body">
                                                {{ field|attr:'class:form-control rows="2"'}}
                                            </div>

                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                        </div>

{#                <div class="pull-right">#}
{#                <div class="submit-button"><input type="submit" class="submit-all btn btn-danger btn-block" value="Bombs Away!"></div>#}
{#                </div>#}

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->

{#                <div class="panel panel-default">#}
{#                    <div class="panel-heading">#}
{#                        <i class="fa fa-pencil fa-fw"></i> Concept Sketch#}
{#                        <span class="pull-right text-muted small"><em>Add some visuals if you'd like</em></span>#}
{##}
{#                    </div>#}
{##}
{#                    <!-- /.panel-heading -->#}
{#                    <div class="panel-body">#}
{##}
{#                        <div class="well">#}
{#                            <div class="my-drawing"></div>#}
{#                        </div>#}
{##}
{#<span id = "literallysuccess" class="pull-left"></span>#}
{#<div class="literallysubmit pull-right">#}
{##}
{#    <div class="btn btn-primary" id="literallybutton" value="Save Drawing">Save Drawing</div>#}
{#</div>#}
{##}
{#                    </div>#}
{##}
{#                </div>#}
{#                <!-- /.drawing -->#}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-newspaper-o fa-fw"></i> Supplemental Docs
                        <span class="pull-right text-muted small"><em>If you have any docs,drop them here</em></span>

                    </div>
                    <div class="panel-body">

                        {% if storedfiles %}

                                    <div class="alert alert-info">
                                        <p> {{ storedfiles|safe }} </p>
                                    </div>

                        {% endif %}

                            <div id="dZUpload" class="dropzone dz-clickable">

                                <div class="dz-default dz-message "><div class="fa fa-upload fa-2x"></div></div>
                                <h3 class="text-center">Images, supporting data, workflow diagrams, etc. </h3>
                            </div>
                </div>
                </div>
                <!-- /.upload -->

            <div class="btn-toolbar btn-block" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2 btn-block" role="group" aria-label="First group">
                            <input type="submit" name="draft" class="submit-all btn btn-block btn-default" value="Save Draft">

              </div>
              <div class="btn-group mr-2 btn-block" role="group" aria-label="Second group">
                            <input type="submit" name="save" class="submit-all btn btn-block btn-danger" value="Bombs Away!">
              </div>

            </div>

<div class="lead"></div>



            </form>
        {##}
    {#        <div class="panel panel-default">#}
    {#            <div class="panel-heading">#}
    {#                <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example#}
    {#                <div class="pull-right">#}
    {#                    <div class="btn-group">#}
    {#                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">#}
    {#                            Actions#}
    {#                            <span class="caret"></span>#}
    {#                        </button>#}
    {#                        <ul class="dropdown-menu pull-right" role="menu">#}
    {#                            <li><a href="#">Action</a>#}
    {#                            </li>#}
    {#                            <li><a href="#">Another action</a>#}
    {#                            </li>#}
    {#                            <li><a href="#">Something else here</a>#}
    {#                            </li>#}
    {#                            <li class="divider"></li>#}
    {#                            <li><a href="#">Separated link</a>#}
    {#                            </li>#}
    {#                        </ul>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <!-- /.panel-heading -->#}
    {#            <div class="panel-body">#}
    {#                <div class="row">#}
    {#                    <div class="col-lg-4">#}
    {#                        <div class="table-responsive">#}
    {#                            <table class="table table-bordered table-hover table-striped">#}
    {#                                <thead>#}
    {#                                <tr>#}
    {#                                    <th>#</th>#}
    {#                                    <th>Date</th>#}
    {#                                    <th>Time</th>#}
    {#                                    <th>Amount</th>#}
    {#                                </tr>#}
    {#                                </thead>#}
    {#                                <tbody>#}
    {#                                <tr>#}
    {#                                    <td>3326</td>#}
    {#                                    <td>10/21/2013</td>#}
    {#                                    <td>3:29 PM</td>#}
    {#                                    <td>$321.33</td>#}
    {#                                </tr>#}
    {#                                <tr>#}
    {#                                    <td>3325</td>#}
    {#                                    <td>10/21/2013</td>#}
    {#                                    <td>3:20 PM</td>#}
    {#                                    <td>$234.34</td>#}
    {#                                </tr>#}
    {#                                <tr>#}
    {#                                    <td>3324</td>#}
    {#                                    <td>10/21/2013</td>#}
    {#                                    <td>3:03 PM</td>#}
    {#                                    <td>$724.17</td>#}
    {#                                </tr>#}
    {#                                <tr>#}
    {#                                    <td>3323</td>#}
    {#                                    <td>10/21/2013</td>#}
    {#                                    <td>3:00 PM</td>#}
    {#                                    <td>$23.71</td>#}
    {#                                </tr>#}
    {#                                <tr>#}
    {#                                    <td>3322</td>#}
    {#                                    <td>10/21/2013</td>#}
    {#                                    <td>2:49 PM</td>#}
    {#                                    <td>$8345.23</td>#}
    {#                                </tr>#}
    {#                                <tr>#}
    {#                                    <td>3321</td>#}
    {#                                    <td>10/21/2013</td>#}
    {#                                    <td>2:23 PM</td>#}
    {#                                    <td>$245.12</td>#}
    {#                                </tr>#}
    {#                                <tr>#}
    {#                                    <td>3320</td>#}
    {#                                    <td>10/21/2013</td>#}
    {#                                    <td>2:15 PM</td>#}
    {#                                    <td>$5663.54</td>#}
    {#                                </tr>#}
    {#                                <tr>#}
    {#                                    <td>3319</td>#}
    {#                                    <td>10/21/2013</td>#}
    {#                                    <td>2:13 PM</td>#}
    {#                                    <td>$943.45</td>#}
    {#                                </tr>#}
    {#                                </tbody>#}
    {#                            </table>#}
    {#                        </div>#}
    {#                        <!-- /.table-responsive -->#}
    {#                    </div>#}
    {#                    <!-- /.col-lg-4 (nested) -->#}
    {#                    <div class="col-lg-8">#}
    {#                        <div id="morris-bar-chart"></div>#}
    {#                    </div>#}
    {#                    <!-- /.col-lg-8 (nested) -->#}
    {#                </div>#}
    {#                <!-- /.row -->#}
    {#            </div>#}
    {#            <!-- /.panel-body -->#}
    {#        </div>#}
    {#        <!-- /.panel -->#}
    {##}
    {#        <div class="panel panel-default">#}
    {#            <div class="panel-heading">#}
    {#                <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline#}
    {#            </div>#}
    {#            <!-- /.panel-heading -->#}
    {#            <div class="panel-body">#}
    {#                <ul class="timeline">#}
    {#                    <li>#}
    {#                        <div class="timeline-badge"><i class="fa fa-check"></i>#}
    {#                        </div>#}
    {#                        <div class="timeline-panel">#}
    {#                            <div class="timeline-heading">#}
    {#                                <h4 class="timeline-title">Lorem ipsum dolor</h4>#}
    {#                                <p>#}
    {#                                    <small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago via Twitter#}
    {#                                    </small>#}
    {#                                </p>#}
    {#                            </div>#}
    {#                            <div class="timeline-body">#}
    {#                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam dolor#}
    {#                                    perspiciatis omnis exercitationem. Beatae, officia pariatur? Est cum veniam#}
    {#                                    excepturi. Maiores praesentium, porro voluptas suscipit facere rem dicta,#}
    {#                                    debitis.</p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </li>#}
    {#                    <li class="timeline-inverted">#}
    {#                        <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>#}
    {#                        </div>#}
    {#                        <div class="timeline-panel">#}
    {#                            <div class="timeline-heading">#}
    {#                                <h4 class="timeline-title">Lorem ipsum dolor</h4>#}
    {#                            </div>#}
    {#                            <div class="timeline-body">#}
    {#                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorem#}
    {#                                    quibusdam, tenetur commodi provident cumque magni voluptatem libero, quis rerum.#}
    {#                                    Fugiat esse debitis optio, tempore. Animi officiis alias, officia#}
    {#                                    repellendus.</p>#}
    {#                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maiores odit#}
    {#                                    qui est tempora eos, nostrum provident explicabo dignissimos debitis vel!#}
    {#                                    Adipisci eius voluptates, ad aut recusandae minus eaque facere.</p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </li>#}
    {#                    <li>#}
    {#                        <div class="timeline-badge danger"><i class="fa fa-bomb"></i>#}
    {#                        </div>#}
    {#                        <div class="timeline-panel">#}
    {#                            <div class="timeline-heading">#}
    {#                                <h4 class="timeline-title">Lorem ipsum dolor</h4>#}
    {#                            </div>#}
    {#                            <div class="timeline-body">#}
    {#                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus numquam#}
    {#                                    facilis enim eaque, tenetur nam id qui vel velit similique nihil iure molestias#}
    {#                                    aliquam, voluptatem totam quaerat, magni commodi quisquam.</p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </li>#}
    {#                    <li class="timeline-inverted">#}
    {#                        <div class="timeline-panel">#}
    {#                            <div class="timeline-heading">#}
    {#                                <h4 class="timeline-title">Lorem ipsum dolor</h4>#}
    {#                            </div>#}
    {#                            <div class="timeline-body">#}
    {#                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat#}
    {#                                    asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas#}
    {#                                    odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </li>#}
    {#                    <li>#}
    {#                        <div class="timeline-badge info"><i class="fa fa-save"></i>#}
    {#                        </div>#}
    {#                        <div class="timeline-panel">#}
    {#                            <div class="timeline-heading">#}
    {#                                <h4 class="timeline-title">Lorem ipsum dolor</h4>#}
    {#                            </div>#}
    {#                            <div class="timeline-body">#}
    {#                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam#}
    {#                                    ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis#}
    {#                                    amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>#}
    {#                                <hr>#}
    {#                                <div class="btn-group">#}
    {#                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle"#}
    {#                                            data-toggle="dropdown">#}
    {#                                        <i class="fa fa-gear"></i> <span class="caret"></span>#}
    {#                                    </button>#}
    {#                                    <ul class="dropdown-menu" role="menu">#}
    {#                                        <li><a href="#">Action</a>#}
    {#                                        </li>#}
    {#                                        <li><a href="#">Another action</a>#}
    {#                                        </li>#}
    {#                                        <li><a href="#">Something else here</a>#}
    {#                                        </li>#}
    {#                                        <li class="divider"></li>#}
    {#                                        <li><a href="#">Separated link</a>#}
    {#                                        </li>#}
    {#                                    </ul>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </li>#}
    {#                    <li>#}
    {#                        <div class="timeline-panel">#}
    {#                            <div class="timeline-heading">#}
    {#                                <h4 class="timeline-title">Lorem ipsum dolor</h4>#}
    {#                            </div>#}
    {#                            <div class="timeline-body">#}
    {#                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio#}
    {#                                    quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam#}
    {#                                    qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </li>#}
    {#                    <li class="timeline-inverted">#}
    {#                        <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>#}
    {#                        </div>#}
    {#                        <div class="timeline-panel">#}
    {#                            <div class="timeline-heading">#}
    {#                                <h4 class="timeline-title">Lorem ipsum dolor</h4>#}
    {#                            </div>#}
    {#                            <div class="timeline-body">#}
    {#                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt obcaecati,#}
    {#                                    quaerat tempore officia voluptas debitis consectetur culpa amet, accusamus#}
    {#                                    dolorum fugiat, animi dicta aperiam, enim incidunt quisquam maxime neque#}
    {#                                    eaque.</p>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </li>#}
    {#                </ul>#}
    {#            </div>#}
    {#            <!-- /.panel-body -->#}
    {#        </div>#}
    {#        <!-- /.panel -->#}
    {##}
    {#        <div class="panel panel-default">#}
    {#            <div class="panel-heading">#}
    {#                <i class="fa fa-bell fa-fw"></i> Notifications Panel#}
    {#            </div>#}
    {#            <!-- /.panel-heading -->#}
    {#            <div class="panel-body">#}
    {#                <div class="list-group">#}
    {#                    <a href="#" class="list-group-item">#}
    {#                        <i class="fa fa-comment fa-fw"></i> New Comment#}
    {#                        <span class="pull-right text-muted small"><em>4 minutes ago</em>#}
    {#                                    </span>#}
    {#                    </a>#}
    {#                    <a href="#" class="list-group-item">#}
    {#                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers#}
    {#                        <span class="pull-right text-muted small"><em>12 minutes ago</em>#}
    {#                                    </span>#}
    {#                    </a>#}
    {#                    <a href="#" class="list-group-item">#}
    {#                        <i class="fa fa-envelope fa-fw"></i> Message Sent#}
    {#                        <span class="pull-right text-muted small"><em>27 minutes ago</em>#}
    {#                                    </span>#}
    {#                    </a>#}
    {#                    <a href="#" class="list-group-item">#}
    {#                        <i class="fa fa-tasks fa-fw"></i> New Task#}
    {#                        <span class="pull-right text-muted small"><em>43 minutes ago</em>#}
    {#                                    </span>#}
    {#                    </a>#}
    {#                    <a href="#" class="list-group-item">#}
    {#                        <i class="fa fa-upload fa-fw"></i> Server Rebooted#}
    {#                        <span class="pull-right text-muted small"><em>11:32 AM</em>#}
    {#                                    </span>#}
    {#                    </a>#}
    {#                    <a href="#" class="list-group-item">#}
    {#                        <i class="fa fa-bolt fa-fw"></i> Server Crashed!#}
    {#                        <span class="pull-right text-muted small"><em>11:13 AM</em>#}
    {#                                    </span>#}
    {#                    </a>#}
    {#                    <a href="#" class="list-group-item">#}
    {#                        <i class="fa fa-warning fa-fw"></i> Server Not Responding#}
    {#                        <span class="pull-right text-muted small"><em>10:57 AM</em>#}
    {#                                    </span>#}
    {#                    </a>#}
    {#                    <a href="#" class="list-group-item">#}
    {#                        <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed#}
    {#                        <span class="pull-right text-muted small"><em>9:49 AM</em>#}
    {#                                    </span>#}
    {#                    </a>#}
    {#                    <a href="#" class="list-group-item">#}
    {#                        <i class="fa fa-money fa-fw"></i> Payment Received#}
    {#                        <span class="pull-right text-muted small"><em>Yesterday</em>#}
    {#                                    </span>#}
    {#                    </a>#}
    {#                </div>#}
    {#                <!-- /.list-group -->#}
    {#                <a href="#" class="btn btn-default btn-block">View All Alerts</a>#}
    {#            </div>#}
    {#            <!-- /.panel-body -->#}
    {#        </div>#}
    {#        <!-- /.List Panel -->#}

        </div>
    <!-- /.col-lg-8 -->


        <div class="col-lg-4">
                <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-copy fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ data.count|add:"-1" }}</div>
                            <div>Your Submissions</div>
                        </div>
                    </div>
                </div>

                    <div class="panel-footer">


                        <div class="collapse-header btn btn-default btn-block">
                            <span class="pull-left">View Ideas</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="collapse-content" style="display:none;">

                        <div class="list-group">
                            {% for d in data %}

                                <div class="list-group-item" value="{% counter %}">
{#                                        /dashboard/{{ d.id }}#}
                                            <i class="fa fa-check-square fa-fw"></i><a
                                        href="/dashboard/{{ d.id }}"><i>{{ d.title }}<span
                                        class="pull-right">{{ d.created|date:"M d" }}</span></i></a>

{#                                            <span class="pull-right text-muted small"><em>{{ field.errors }}</em></span>#}

{#                                            <div class="form-field-body">#}
{#                                                {{ field|attr:'class:form-control rows="2"' }}#}
{#                                                test#}
{#                                            </div>#}

                                        </div>

                            {% endfor %}

                        </div>

                        </div>


                    </div>

            </div>
        </div>

{#        <div class="col-md-6">#}
{#            <div class="panel panel-green">#}
{#                <div class="panel-heading">#}
{#                    <div class="row">#}
{#                        <div class="col-xs-3">#}
{#                            <i class="fa fa-tasks fa-5x"></i>#}
{#                        </div>#}
{#                        <div class="col-xs-9 text-right">#}
{#                            <div class="huge">12</div>#}
{#                            <div>Validated</div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <a href="#">#}
{#                    <div class="panel-footer">#}
{#                        <span class="pull-left">View Details</span>#}
{#                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>#}
{#                        <div class="clearfix"></div>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
                </div>

        {#        http://stackoverflow.com/questions/7335780/how-to-post-a-django-form-with-ajax-jquery#}
{#        https://djangogirls.gitbooks.io/django-girls-tutorial-extensions/homework_create_more_models/#}
            <div class="chat-panel panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-fw"></i> Messages
                                        <div class="btn-group pull-right">
{#                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">#}
{#                            <i class="fa fa-chevron-down"></i>#}
{#                        </button>#}
{#                        <ul class="dropdown-menu slidedown">#}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-refresh fa-fw"></i> Refresh#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-check-circle fa-fw"></i> Available#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-times fa-fw"></i> Busy#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-clock-o fa-fw"></i> Away#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="divider"></li>#}
{#                            <li>#}
{#                                <a href="#">#}
{#                                    <i class="fa fa-sign-out fa-fw"></i> Sign Out#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
                    </div>
                </div>
                <!-- /.panel-heading -->


{#                    <div class="well">#}
{#                        <hr>#}
{#                    {% for comment in data.comments.all %}#}
{#                        <div class="comment">#}
{#                            <div class="date">{{ comment.created_date }}</div>#}
{#                            <strong>{{ comment.author }}</strong>#}
{#                            <p>{{ comment.text|linebreaks }}</p>#}
{#                        </div>#}
{#                    {% empty %}#}
{#                        <p>No comments here yet :(</p>#}
{#                    {% endfor %}#}
{#                    </div>#}

                <div class="panel-body">
                    <ol class="chat">
                    {% for d in data %}
                        {% for comment in d.comments.all %}

                        {% ifequal comment.author user %}
                        <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <span class="red-circle">{{ comment.response.title }}</span>
                                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{ comment.author }}</strong>
                                    <small class="pull-right text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> {{ comment.created_date|date:"M d" }}
                                    </small>
                                </div>
                                <p>
                                         {{ comment.text }}
                                </p>
                            </div>
                        </li>


                        {% else %}
                        <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                            <div class="blue-circle">{{ comment.response.title }}</div>
                                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i> {{ comment.created_date|date:"M d" }}
                                    </small>
                                    <strong class="pull-right primary-font">{{ comment.author|title }}</strong>
                                </div>
                                <p>
                            {{ comment.text }}
                                </p>
                            </div>
                        </li>
                    {% endifequal %}

                    {% endfor %}

                    {% endfor %}


                          <!--<li class="left clearfix">-->
                                        <!--<span class="chat-img pull-left">-->
                                            <!--<span class="red-circle">{{ comment.response.title }}</span>-->
                                        <!--</span>-->
                            <!--<div class="chat-body clearfix">-->
                                <!--<div class="header">-->
                                    <!--<strong class="primary-font">{{ comment.author }}</strong>-->
                                    <!--<small class="pull-right text-muted">-->
                                        <!--<i class="fa fa-clock-o fa-fw"></i> {{ comment.created_date|date:"M d" }}-->
                                    <!--</small>-->
                                <!--</div>-->
                                <p id="new-chat">

                                </p>
                            <!--</div>-->
                        <!--</li>-->
                      <!---->


                    </ol>
                </div>
                <!-- /.panel-body -->
                <div class="panel-footer">
                    <form class="chat-form" id="chat-form" action="/store_chat/" method="post">
                    <div class="input-group">
                        <input id="comment_text" rows='2' type="text" class="form-control input-sm"
                               name="text" placeholder="Type your message here..."/>
                        <span class="input-group-btn">
                        <button type="submit" value="chat" class="btn btn-warning btn-sm" id="btn-chat">
                            Send
                        </button>
                        </span>
                    </div>
                        </form>
                </div>
                <!-- /.panel-footer -->
            </div>
            <!-- /.panel .chat-panel -->

                      <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Stats - Coming Soon
{#                        <span class="pull-right text-muted small"><em>Whatever</em></span>#}

                    </div>
                    <div class="panel-body">

                                    <div id="piechart" style="width: 100%;"></div>

                    </div>
                </div>

            <!-- /.panel Stats -->

            {#                    https://github.com/emencia/emencia-django-forum#}
        </div>
    <!-- /.col-lg-4 -->
    </span>
<!-- /.row -->


{% endblock %}

{% block extrajs %}

    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            Dropzone.autoDiscover = false;#}
    {#            $("#dZUpload").dropzone({#}
    {#                url: "/upload",#}
    {#                addRemoveLinks: true,#}
    {#                success: function (file, response) {#}
    {#                    var imgName = response;#}
    {#                    file.previewElement.classList.add("dz-success");#}
    {#                    console.log("Successfully uploaded :" + imgName);#}
    {#                },#}
    {#                error: function (file, response) {#}
    {#                    file.previewElement.classList.add("dz-error");#}
    {#                }#}
    {#            });#}
    {#        });#}
    {#    </script>#}


    <script type="text/javascript">

        Dropzone.autoDiscover = false;
        {#        var myDropzone = new Dropzone(#}
        {#        "#dZUpload",#}
        {#        {#}
        {#                headers: {#}
        {#                'X-CSRF-Token': $('input[name="_token"]').val()#}
        {#            },#}
        {##}
        {#            url: '/post_files/',#}
        {#            paramName: "file",#}
        {#            uploadMultiple: true,#}
        {#            addRemoveLinks: true,#}

        $("#dZUpload").dropzone({
            headers: {
                'CSRFToken': $('meta[name="token"]').attr('content')
            },
            url: "/post_files/",
            addRemoveLinks: true,
            uploadMultiple: true,
            paramName: "file",
            {#    maxFilesize: 5,#}
            dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
            dictResponseError: 'Error uploading file!',

        });


    </script>


    <script>
        $("#form").submit(function (eventObj) {
            $('<input />').attr('type', 'hidden')
                .attr('name', "something")
                .attr('value', "something")
                .appendTo('#form');
            return true;
        });

    </script>


    <!-- kick off literallydraw -->
    <script>
        var lc = LC.init(
            document.getElementsByClassName('my-drawing')[0],
            {
                imageURLPrefix: '/media/literallycanvas/img',
                backgroundColor: "white"
            }
        );

        $(document).ready(function () {
            $('#literallybutton').click(function () {
                {#         e.preventDefault();#}
                {#         $('.literallysubmit').html('Uploading...')#}
                // this is all bog standard Imgur API; only LC-specific thing is the
                // image data argument
                var data = lc.canvasForExport().toDataURL().split(',')[1]

                $.ajax({
                    url: '/post_files/',
                    type: 'POST',
                    {#                    headers: {#}
                    {#                        'CSRFToken': $('meta[name="token"]').attr('content')#}
                    {#                    },#}
                    data: {
                        image: data,
                        type: 'base64'
                    },
                    success: function (data) {
                        lc.clear();
                        var span = document.getElementById('literallysuccess');
                        while (span.firstChild) {
                            span.removeChild(span.firstChild);
                        }
                        span.appendChild(document.createTextNode("Saved Successfully"));
                    }

                });
            })
        });

    </script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Industry'],
                ['Construction', 11],
                ['Services', 2],
                ['Commute', 2],
                ['Entertainment', 2],
                ['Fitness', 7]
            ]);

            var options = {
                title: 'Idea Breakdown'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>

    <script>

        $(".collapse-header").click(function () {

            $header = $(this);
            //getting the next element
            $content = $header.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            $content.slideToggle(500, function () {
                //execute this after slideToggle is done
                //change text of header based on visibility of content div
                if ($content.is(":hidden")) {
                    var data = $(this).parent().find(".fa-arrow-circle-down")
                    data.removeClass("fa-arrow-circle-down").addClass("fa-arrow-circle-right");
                    {#                document.getElementsByClassName("fa-arrow-circle-down")[0].removeClass("fa-arrow-circle-down").addClass("fa-arrow-circle-right");#}
                }
                else {
                    var data = $(this).parent().find(".fa-arrow-circle-right")
                    data.removeClass("fa-arrow-circle-right").addClass("fa-arrow-circle-down");

                }
            });

        });

        {#    #}
        {#    $('.collapse').on('shown.bs.collapse', function(){#}
        {#    $(this).parent().find(".fa-arrow-circle-right").removeClass("fa-arrow-circle-right").addClass("fa-arrow-circle-down");#}
        {#    }).on('hidden.bs.collapse', function(){#}
        {#    $(this).parent().find(".fa-arrow-circle-down").removeClass("fa-arrow-circle-down").addClass("fa-arrow-circle-right");#}
        {#    });#}
    </script>


        <script type = "text/javascript" >

        var html=""

        var frm = $('#chat-form');

        frm.submit(function () {
            var id = "{{ request.path }}";
            var init = "{{ data.0.id }}"
            var val = $("#comment_text").val();
            var d = frm.serialize()
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data:
                    {
                    text:val,
                    id:id,
                    initial:init
                },
                success: function (data) {
                    var ht = "<b>New: </b>";
                    var div = $("#new-chat");
                    div.html(div.html() + ht + data + '<br>');
                    frm[0].reset();
                },
                error: function (data) {
                    $("#new-chat").html("Something went wrong with chat. Email us!");
                }
            });
            return false;
        });
    </script>


{% endblock %}