{% extends 'base.html' %}
{% load i18n widget_tweaks %}
{% block title %}Login{% endblock %}

{% block body %}
    <div class="row"><div class="lead"></div></div>
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <div class="well">
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
      <div class="form-group">
     {% for field in form %}
    <label for="exampleInputEmail1">{{ field.label }}</label>
        {{ field|attr:'class:form-control' }}
          {% endfor %}
  </div>
    <button type="btn btn-primary submit">Login</button>
  </form>

    </div>
    </div>
    <div class="col-md-3"></div>
    </div>
{% endblock %}